<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
	<elements>
		<element type="boolean">
			<name>clear_js_cache_before_request</name>
			<label>Clear JS cache before request</label>
			<value>true</value>
		</element>
	</elements>
</config>
